---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/83542/reviews?api_key=fake_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - f83e80146f2f2492d71217d58f3aacd171cdf230
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17553'
      Last-Modified:
      - '2022-01-01 08:22:46 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":83542,"page":1,"results":[{"author":"Andres Gomez","author_details":{"name":"Andres
        Gomez","username":"tanty","avatar_path":"/https://secure.gravatar.com/avatar/03a53cd53b8254fe582d4fe1acc26c4e.jpg","rating":7.0},"content":"Interesting
        film with an exceptional cast, fantastic performances and characterizations.
        The story, though, is a bit difficult to follow and, in the end, seems to
        not have a real point.","created_at":"2013-05-13T15:40:41.935Z","id":"51910979760ee320eb020fc2","updated_at":"2021-06-23T15:57:21.374Z","url":"https://www.themoviedb.org/review/51910979760ee320eb020fc2"},{"author":"Travis
        Bell","author_details":{"name":"Travis Bell","username":"travisbell","avatar_path":"/xy44UvpbTgzs9kWmp4C3fEaCl5h.png","rating":7.5},"content":"Cloud
        Atlas was a very well made movie but unlike most of the \"simultaneous stories
        that all come together at the end\" type of movies, this one just didn''t.
        I''m still unclear as to the point of it all.\r\n\r\nAnother issue I had was
        [...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/83542/reviews?api_key=<fake_api_keyi>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - f83e80146f2f2492d71217d58f3aacd171cdf230
      X-Memc-Age:
      - '8906'
      X-Memc-Expires:
      - '7484'
      Etag:
      - W/"558e18036d72c502e7ef707bd70097d6"
    body:
      encoding: ASCII-8BIT
      string: '{"id":83542,"page":1,"results":[{"author":"Andres Gomez","author_details":{"name":"Andres
        Gomez","username":"tanty","avatar_path":"/https://secure.gravatar.com/avatar/03a53cd53b8254fe582d4fe1acc26c4e.jpg","rating":7.0},"content":"Interesting
        film with an exceptional cast, fantastic performances and characterizations.
        The story, though, is a bit difficult to follow and, in the[...]
