---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/83542?api_key=fake_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b0d33aec081893155ed37a005f34d18c2363f76d
      X-Memc-Age:
      - '5912'
      X-Memc-Expires:
      - '9351'
      Etag:
      - W/"ce8e80bb42e16805dc18413e11ac2153"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/2lw4O1QOnJIVYaLrVuQyjtjwOuN.jpg","belongs_to_collection":null,"budget":102000000,"genres":[{"id":18,"name":"Drama"},{"id":878,"name":"Science
        Fiction"}],"homepage":"http://cloudatlas.warnerbros.com/","id":83542,"imdb_id":"tt1371111","original_language":"en","original_title":"Cloud
        Atlas","overview":"A set of six nested stories spanning time between the 19th
        century and a distant post-apocalyptic future. Cloud Atlas explores how the
        actions and consequences of individual lives impact one another throughout
        the past, the present and the future. Action, mystery and romance weave through
        the story as one soul is shaped from a killer into a hero and a single act
        of kindness ripples across centuries to inspire a revolution in the distant
        future.  Based on the award winning novel by David Mitchell. Directed by Tom
        Tykwer and the Wachowskis.","popularity":25.849,"poster_path":"/amNMifaMEd0FBOR289OcnRAJjTI.jpg","production_companies":[{"id":11080,"logo_path":null,"name":"Cloud
        Atlas Productions","origin_country":"US"},{"id":450,"logo_path":null,"name":"Anarchos
        Productions","origin_country":""},{"id":7829,"logo_path":null,"name":"Ascension
        Pictures","origin_country":""},{"id":19621,"logo_path":null,"name":"Dreams
        of Dragon Picture","origin_country":""},{"id":11082,"logo_path":null,"name":"Five
        Drops","origin_country":""},{"id":11083,"logo_path":null,"name":"Media Asia
        Group","origin_country":""},{"id":96,"logo_path":"/9ps82gVzUeNdkjmLzoGDQLiLDio.png","name":"X
        Filme Creative Pool","origin_country":"DE"}],"production_countries":[{"iso_3166_1":"CN","name":"China"},{"iso_3166_1":"DE","name":"Germany"},{"iso_3166_1":"HK","name":"Hong
        Kong"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2012-10-26","revenue":130482868,"runtime":172,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Everything
        is Connected","title":"Cloud Atlas","video":false,"vote_average":6.9,"vote_count":6011}'
  recorded_at: Sun, 06 Feb 2022 20:03:41 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/83542?api_key=<fake_api_keyi>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b0d33aec081893155ed37a005f34d18c2363f76d
      X-Memc-Age:
      - '2176'
      X-Memc-Expires:
      - '14872'
      Etag:
      - W/"84dca24693b97ace90a3e9aa411c5d40"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":[...]
