<main>
  <div class="container">
    <!--Grid row-->
    <div class="row py-5">
      <!--Grid column-->
      <div class="col-md-12 text-center">
        <div class="title">
          <h1>Welcome to Viewing Party! </h1>
          <p>Please register to start viewing and creating movie viewing parties with your friends.</p>
        </div>
        <div class="new-user">
          <a href="<%= register_url %>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Register</a>
        </div>
      </div>
    </div>
  </div>
</main>
